new.html.erb
<div class="form-style-5">
  <legend><span class="number">2</span> Add question</legend>
    <%= simple_form_for [@interview, @practice, @question] do |f| %>
    <div class="form-inputs">
      <%= f.input :text, placeholder: "give it a name"%>
    </div>
    <div class="form-actions">
    <%= f.submit class: "btn btn-primary"%>
    </div>
    <% end %>
    <% @practice.questions.each do |question| %>
      <li>
        <%= question.text %>
      </li>
    <% end %>
  </div>

  <div class="d-flex justify-content-between pt-2 pb-2">
  <span>
    <%= link_to "Practices", interview_practices_path(@interview), class: "btn btn-primary btn-lg" %>
  </span>
</div>
