<br>
<div class="text-center">

  <h3><%= @interview.company %> question bank:  <%= @interview.questions.count %></h3>
</div>
<div class="d-flex justify-content-between pt-2 pb-2">
  <span>
    <%= link_to "Take a practice", interview_practices_path(@interview), class: "btn btn-primary btn-lg" %>
  </span>
</div>
  <div class="d-flex">
    <div class="flex-containernew d-flex flex-column w-100">
      <div class="d-flex justify-content-between">
      <div class="form-style-5 w-50 mb-0 ml-100">
           <h4></h4>
          <div class="questions-added">
            <% @interview.questions.order("created_at DESC").each do |question| %>
            <div class="question-card">
              <p><%= question.question %></p>
            </div>
          <% end %>
          </div>
        </div>
        <div class="form-style-5 w-50 mr-0">
        <%= simple_form_for [@interview, @question] do |f| %>


        <div class="form-inputs2">
          <strong>Add question</strong>

          <%= f.input :question, placeholder: "Type your question here and click create when you are done", label: false%>
        </div>
        <div class="form-actions">
        <%= f.submit class: "btn btn-primary-create mt-3"%>
        </div>
        <% end %>
      </div>
      </div>
    </div>
  </div>



